{:index 0, :time 21594875, :type :invoke, :process 0, :f :generate, :value nil}
{:index 1, :time 24156125, :type :info, :process :nemesis, :f :start-partition, :value :minority-third}
{:index 2, :time 24329792, :type :invoke, :process 2, :f :generate, :value nil}
{:index 3, :time 26035667, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n2" #{}, "n1" #{}, "n0" #{}}]}
{:index 4, :time 26155584, :type :invoke, :process 1, :f :generate, :value nil}
{:index 5, :time 4091907167, :type :info, :process :nemesis, :f :stop-partition, :value nil}
{:index 6, :time 4096084459, :type :info, :process :nemesis, :f :stop-partition, :value :network-healed}
{:index 7, :time 5037767709, :type :info, :process 1, :f :generate, :value nil, :error :net-timeout}
{:index 8, :time 5038103209, :type :info, :process 2, :f :generate, :value nil, :error :net-timeout}
{:index 9, :time 5038160334, :type :info, :process 0, :f :generate, :value nil, :error :net-timeout}
{:index 10, :time 5038217125, :type :invoke, :process 4, :f :generate, :value nil}
{:index 11, :time 5039334792, :type :invoke, :process 5, :f :generate, :value nil}
{:index 12, :time 5044476875, :type :invoke, :process 3, :f :generate, :value nil}
{:index 13, :time 10046464959, :type :info, :process 5, :f :generate, :value nil, :error :net-timeout}
{:index 14, :time 10046923334, :type :invoke, :process 8, :f :generate, :value nil}
{:index 15, :time 10056853625, :type :info, :process 4, :f :generate, :value nil, :error :net-timeout}
{:index 16, :time 10057654917, :type :info, :process 3, :f :generate, :value nil, :error :net-timeout}
{:index 17, :time 10057758709, :type :invoke, :process 7, :f :generate, :value nil}
{:index 18, :time 10058147917, :type :invoke, :process 6, :f :generate, :value nil}
{:index 19, :time 14216824584, :type :info, :process :nemesis, :f :start-partition, :value :majority}
{:index 20, :time 14228541375, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n0" #{"n2" "n1"}, "n2" #{"n0"}, "n1" #{"n0"}}]}
{:index 21, :time 15060070209, :type :info, :process 8, :f :generate, :value nil, :error :net-timeout}
{:index 22, :time 15060322959, :type :invoke, :process 11, :f :generate, :value nil}
{:index 23, :time 15065749959, :type :info, :process 7, :f :generate, :value nil, :error :net-timeout}
{:index 24, :time 15065906542, :type :info, :process 6, :f :generate, :value nil, :error :net-timeout}
{:index 25, :time 15065940750, :type :invoke, :process 10, :f :generate, :value nil}
{:index 26, :time 15067865209, :type :invoke, :process 9, :f :generate, :value nil}
{:index 27, :time 20067846209, :type :info, :process 11, :f :generate, :value nil, :error :net-timeout}
{:index 28, :time 20068560375, :type :invoke, :process 14, :f :generate, :value nil}
{:index 29, :time 20070324625, :type :info, :process 10, :f :generate, :value nil, :error :net-timeout}
{:index 30, :time 20070463875, :type :invoke, :process 13, :f :generate, :value nil}
{:index 31, :time 20075334667, :type :info, :process 9, :f :generate, :value nil, :error :net-timeout}
{:index 32, :time 20075584417, :type :invoke, :process 12, :f :generate, :value nil}
{:index 33, :time 25071824750, :type :info, :process 14, :f :generate, :value nil, :error :net-timeout}
{:index 34, :time 25071979375, :type :invoke, :process 17, :f :generate, :value nil}
{:index 35, :time 25077529042, :type :info, :process 12, :f :generate, :value nil, :error :net-timeout}
{:index 36, :time 25077657750, :type :invoke, :process 15, :f :generate, :value nil}
{:index 37, :time 25079997167, :type :info, :process 13, :f :generate, :value nil, :error :net-timeout}
{:index 38, :time 25080156000, :type :invoke, :process 16, :f :generate, :value nil}
{:index 39, :time 30073846500, :type :info, :process 17, :f :generate, :value nil, :error :net-timeout}
{:index 40, :time 30081891417, :type :info, :process 15, :f :generate, :value nil, :error :net-timeout}
{:index 41, :time 30086477125, :type :info, :process 16, :f :generate, :value nil, :error :net-timeout}
